.wrapper {
  margin: 1rem;
}
.title {
  padding-right: 16px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem;
}

.select {
  margin-right: 16px;
  min-width: 110px;
}
